---
// Top floating glass nav
import { REGISTER_URL, LOGIN_URL } from '../urls';
---

<div class="nav-wrap">
  <nav class="nav">
    <div class="brand">Glass<i>It</i></div>
    <ul>
      <li><a href="#features">Fonctionnalités</a></li>
      <li><a href="#demo">Démo</a></li>
      <li><a href="#pricing">Tarifs</a></li>
    </ul>
    <div class="nav-actions">
      <a class="nav-login" href={LOGIN_URL}>Se connecter</a>
      <a class="btn btn-primary nav-cta" href={REGISTER_URL}>Commencer</a>
    </div>
  </nav>
</div>
