---
// Top floating glass nav
---

<div class="nav-wrap">
  <nav class="nav">
    <div class="brand">Glass<i>It</i></div>
    <ul>
      <li><a href="#features">Fonctionnalités</a></li>
      <li><a href="#demo">Démo</a></li>
      <li><a href="#pricing">Tarifs</a></li>
    </ul>
    <div class="nav-actions">
      <a class="nav-login" href="#login">Se connecter</a>
      <a class="btn btn-primary nav-cta" href="#cta">Commencer</a>
    </div>
  </nav>
</div>
